/* BEM methodology*/
/* Zadanie 1, 2  

1.Nadaj każdemu z elementów klasę zgodną z wybraną przez Ciebie metodologią
(napisz jaka to metodologia 
w komentarzu na samej górze kodu CSS).
2.Nadaj każdemu elementowi ​<a>​, który nie jest dzieckiem elementu ​<li>​ 
kolor różowy z przezroczystością ustawioną na 75% */

.container__link{
    color: pink;
    opacity: 75%;
    
}

/* zadanie 3  Nadaj każdemu elementowi ​<a>​ style, które będą aktywne jedynie w momenciekiedy najedziemy na element kursorem. 
Zmień grubość tekstu oraz przesuń go o4px w prawo, całe przejście powinno trwać 0.4s.*/


.container__link:hover{
  font-weight: bold;
  padding-left: 4px;
  transition: 0.4s;
}



.container__link{
    color: pink;
    opacity: 75%;
}

/* zadadanie 4 Każdemu elementowi <a> bez atrybutu href zmień 
kursor (który pojawia się w momencie najechania na element) na 
myślny kursor dla zablokowanego elementu (Hint: właściwość 
będzie miała wartość: not-allowed). */

.container__link--disabled{
    cursor: not-allowed;
    
  }
/* zadanie 5 Nadaj każdemu elementowi <ol>, który jest dzieckiem elementu
 <ul> styl zwiększający wielkość tekstu do 18px. */
 
 .container__list-item--font{
    font-size: 18px;
  }
  
  /* zadanie 6 Nadaj każdemu elementowi <p>, 
  który następuje bezpośrednio po elemencie <ul> 
  marginesy lewy oraz dolny i ustaw ich wartość na 10px.*/

  .link__paragraph{
    margin-left: 10px;
    margin-bottom: 10px;
  }
  